@{
    //load file Layout.cshtml vao day
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
@* de phan trang thi phai using cac doi tuong sau *@
@using X.PagedList
@using X.PagedList.Mvc.Core
@* doi tuong thao tac file *@
@using System.IO
@* nhin thay file MyDbContext *@
@using Project.Models
@functions {
    public MyDbContext db = new MyDbContext();
    public ItemCustomer GetCustomers(int _CustomerId)
    {
        //lay mot ban ghi
        ItemCustomer record = db.Customers.Where(item => item.Id == _CustomerId).FirstOrDefault();
        return record != null ? record : new ItemCustomer();
    }
}
<div id="wrapper">

    <!-- Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">


            <!-- Begin Page Content -->
            <div class="container" style="margin-top:30px">

                @* <h1 style="text-align:center" class="h3 mb-2 text-gray-800">Page Products</h1>
                <br />
                *@
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3" style="padding:15px">


                        <div class="m-0 font-weight-bold text-primary" style="padding:20px 10px">List Orders</div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                                <tr>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Phone</th>
                                    <th>Created</th>
                                    <th>Price</th>
                                    <th>Status</th>
                                    <th style="width:150px;"></th>

                                </tr>


                                @foreach (var item in Model)
                                {
                                    ItemCustomer recordCustomer = GetCustomers(item.CustomerId);
                                    <tr>
                                        <td>@recordCustomer.Name</td>
                                        <td>@recordCustomer.Address</td>
                                        <td>@recordCustomer.Phone</td>
                                        <td>@item.Create.ToString("ddMMyyyy")</td>
                                        <td>@string.Format("{0:#,#.}", item.Price)</td>
                                        <td>
                                            @if (item.Status == 2)
                                            {
                                                <text><label class="label label-warning" style="background-color: #f39c12; color:white; border-radius:3px">Đã hủy đơn hàng</label></text>
                                            }
                                            @if (item.Status == 1)
                                            {
                                                <text><label class="label label-danger" style="background-color: #d9534f;color:white;border-radius:3px">Đã giao hàng</label></text>
                                            }
                                            @if (item.Status == 0)
                                            {
                                                <text><label style="background-color:#337ab7;color:white;border-radius:3px">Chưa giao hàng</label></text>
                                            }
                                        </td>
                                        <td style="text-align:center;">
                                            <a href="/Admin/Orders/Detail/@item.Id">Chi tiết</a>
                                        </td>
                                    </tr>
                                }


                            </table>
                            <style type="text/css">
                                .pagination {
                                    padding: 0px;
                                    margin: 0px;
                                }

                                    .pagination li {
                                        padding: 10px;
                                        border: 1px solid #e3e6f0;
                                        color: #858796;
                                    }

                                        .pagination li a {
                                            color: #858796;
                                        }


                                        .pagination li:hover {
                                            background-color: blue;
                                            color: white;
                                        }
                            </style>
                            @Html.PagedListPager((IPagedList)Model, p => Url.Action("Index", new { page = p }))
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->


    </div>
    <!-- End of Content Wrapper -->

</div>
